@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --background-color: #fff;
}
:root {
  --bg-color: rgba(2, 2, 139, 0.2);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
h2 {
  color: #fff;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
    -120deg,
    rgba(252, 176, 69, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(131, 58, 180, 1) 100%
  );
}
.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}
.all__inputs,
.all__result {
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0rem;
  box-shadow: 0px 0px 15px 6px rgba(255, 255, 255, 0.55);
}
.inputs {
  padding: 1rem;
}
.results {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.results div {
  padding: 1rem 0rem;
  background: #fff;
  width: 9.5rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  outline: none;
  width: 100px;
  padding: 0.7rem 2rem;
  border: none;
}
.btn__submit {
  padding: 1.3rem 2rem;
  outline: none;
  background: var(--bg-color);
  border: none;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.55);
  cursor: pointer;
}

.my_identity {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.social__nav {
  display: flex;
  flex-direction: column;
}
a img {
  width: 100px;
}
